<div class="container-fluid text-white">
  <!-- <app-student [allStudentsData] ="studentsDataArr"></app-student> -->
  <!-- <app-register (fireEvent) ="getData($event)" ></app-register>
  <app-student [oneStudentInfo] ="studentData"></app-student> -->
<!-- <app-validation></app-validation> -->

<!-- <app-navbar></app-navbar>


<div class="container">
  <router-outlet></router-outlet>
</div> -->


<!-- day4  -->

<app-product (sendDataEvent)="receiveData($event)"></app-product>
<app-display-product [productData] = "productInfo"></app-display-product>








</div>

